.PokeCard-card{
    background-color: lightslategray;
    width: 15rem;
    height: 15rem;
    padding: 10px;
    margin: 15px;
    display: inline-block;
    text-align: center;

}

.PokePic{
    width: 60%;
    padding: 0;
    margin: 0;
}

h5{
    margin: 0;
}